* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 60vw;
    height: 70vh;
    background-color: darkgray;
    position: relative;
}

.button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.861);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

#btnBack {
    top: 1.5rem;
}

#btnNext {
    bottom: 1.5rem;
}

.preview-container {
    height: 70vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.preview {
    height: 20%;
    width: 15vw;
    border: 1px dashed black;
}

.preview > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.selected {
    opacity: 50%;
}

.hidden {
    display: none;
}
